body {
  /* TODO: load proper font used for whole thing */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
  font-family: roboto, sans-serif;
  font-size: 1.1em;
}

@font-face {
  font-family: norse-bold;
  src: url(./Norse-Bold.otf);
}

h1 {
  font-family: norse-bold, sans-serif;
}

/* image-section */
.image-section {
  height: 100vh;
  width: auto;
  background-color: blue;
  background: url(image.jpg);
  background-size: 100vh auto;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30vh;
  padding-left: 20vh;
  padding-right: 20vh;
  /* TODO: make background transparent-ish */
  background: black;
}

.logo {
  height: 15vh;
  width: auto;
}

/* rest-section */
.rest-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 200vh;
}

.hero-section,
.form-section,
.button-section {
  /* TODO: make each section be 33% of the overall height */
  padding-top: 100px;
  padding-bottom: 100px;
}

/* hero-section  */
.hero-section {
  background-color: lightgray;
}

/* form-section  */
/* TODO: Add wrapping around two fields */
.form-section {
  width: 800px;
}

input,
label {
  margin: 15px;
}

/* button section */
.button-section {
  background-color: lightgray;
}
