body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0;
}

/* image-section */

/* rest-section */
.rest-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

/* hero-section  */
.hero-section {
  background-color: lightgray;
}

/* form-section  */
/* TODO: Add wrapping around two fields */
.form-section {
  width: 700px;
}

/* button section */
.button-section {
  background-color: lightgray;
}
